*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.valign{
    align-items: center;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
h2{
    font-size: 32px;
    font-weight:400 ;
    font-family: 'Abril Fatface', cursive;
}
h5{
    font-size: 14px;
    font-weight: 300;
    font-family:'Ubuntu', sans-serif; ;
}
/* header part css */
#top_header{
    background-color: #0f2f44;
}
.header_title{
    width: 30%;
}
 h6{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    font-family: 'Ubuntu', sans-serif;
}
.header_time_shedule{
    width: 70%;
}
.header_time_shedule h6{
    text-align: right;
}
/*menu part css*/
.main_menu{
    background-color:#fff;
}
.menu_fixed{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.logo{
    width: 20%;
}
.logo img{
    margin: 30px 0;
}
.menu{
    width: 80%;
}
.menu ul li{
    float: right;
}
.menu ul .different::after{
    content: '^';
    position: absolute;
    transform: rotate( 180deg);
    padding-right: 5px;
}
.menu ul li a{
    color: #353535;
    font-weight: 500;
    padding: 42px 20px ;
    display: block;
    transition: .5s;
    position: relative;
}
.menu ul .active a,
.menu ul li a:hover{
    color: #ffd343;
    background-color: #fff9e6;
}
.menu  a i{
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 34px 10px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #9e9e9e;
    color: #9e9e9e;
    transition: .5s;
    float: right;
    cursor: pointer;
}
.menu i:hover{
    color: #ffd343;
    background-color: #fff9e6;
    border:#fff9e6 ;
}
/*search bar css*/
.search_bar{
    position: absolute;
    top: 20%;
    left: 20%;
    bottom: 20%;
    right:20%;
    background: rgba(0, 0, 0, .6);
    display: none;
    z-index: 1;
}
.search_bar input{
    height: 50px;
    width: 80%;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    margin-top: 20%;
    margin-left: 10%;
}
/*banner part css*/
#banner{
    margin-bottom: 60px;
}
.banner_img{
    height: 600px;
    background-size: cover!important;
    mask-position: center!important;
}
.banner_img img{
    display: block;
}
.banner_content{
    width: 470px;
    padding:140px 0;
}
.banner_content h3{
    font-size: 40px;
    font-weight: 300;
    text-transform: capitalize;
} 
.banner_content h1{
    font-size: 80px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Abril Fatface';
}
.banner_content h4{
    color: #9b9ecf;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 8px;
}
.banner_content p{
    padding: 30px 0;
}
.banner_content .button{
    background-color: #8484bf;
    color: #fff;
    font-size: 20px;
    padding: 15px 15px;
    border-radius: 10px;
}
.banner_content .icon i{
    background-color: #fff;
    color:#8484bf ;
    padding: 15px;
    border-radius: 50%;
    margin: 0 20px;
}
.button:hover{
    background-color: #fff;
    color:#8484bf ;
}
.icon i:hover{
    background-color: #8484bf;
    color: #fff;
}
/*about part css*/
#about{
    margin-bottom: 60px;
}
.about_content{
    width:580px;
}
.about_content p{
    padding: 16px 0;
}
.about_content_list p{
    line-height: 36px;
    padding: 0 30px;
}
.button{
    margin: 32px 0;
}
.button a{
    background-color: #ffc712;
    color:#353535 ;
    font-size: 20px;
    padding: 15px 18px;
    border-radius: 10px;
    margin-right: 20px;
}
.button a:hover{
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .6);
}
/*skill part css*/
#our_skill{
    margin-bottom: 60px;
}
.skill_img{
    width: 50%;
}
.skill_img img{
    width: 100%;
    height: 600px;
}
.skill_content{
    max-width: 580px;
    margin-left: auto;
    text-align: right;
}
.skill_content p{
    padding-bottom: 30px;
    padding-top: 24px;
}
.skill_items{
    width: 100%;
    position: relative;
    padding: 20px 0;
    margin-left: 14px;
}
.skill_items_icon_right{
    height: 60px;
    width: 60px;
    line-height: 60px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, .6);
    padding-top: 10px;
    position: absolute;
    margin: 10px;
    margin-left: 20px;
}
.skill_items_icon{
    width: 20%;
    text-align: center;
    margin:20px 0 20px 20px;
    float: right;
}
.skill_items_bar{
    width: 80%;
    float: left;
}
/*services part css*/
#service{
    background-color: #f5f5f5;
    padding: 60px 0;
}
#service .section_header{
    text-align: center;
    margin-bottom: 48px;
}
.service_content{
    width: 31%;
    margin: 0 13px;
}
.service_content .ui_ux{
     width: 100%;
     position: relative;
}
.ui_ux .overlay{
    background-color: #0f2f44;
    position: absolute;
    transform: scale(0);
    height: 207px;
    width:368px ;
    text-align: center;
}
.ui_ux:hover .overlay{
    transform: scale(1);
    transition: .5s;
}
.ui_ux:hover .overlay h3{
    color: #fff;
    padding-top: 20px;
}
.ui_ux:hover .overlay img{
    background-color: #ffc712;
    margin-top: 30px;
    transform: translate(150px);
}
.ui_ux .overlay i{
    border-radius: 50%;
    background-color: #ffc712;
    padding: 12px;
    margin-top: 50px;
    z-index: 1;
}
.ui_ux_img{
    width: 22%;
    background-color: #e9e9e9;
    float: left;
    padding: 74px 8px;
}

.ui_ux_text{
    width: 78%;
    background-color: #eeeeee;
    float: right;
    padding: 25px 20px;
}
.ui_ux_text h3{
    font-size: 20px;
    font-weight: 500;
    font-family:'Ubuntu', sans-serif; 
}
.ui_ux_text p{
    padding-top: 15px;
}
.service_content .web_design{
    width: 100%;
    position: relative;
}
.web_design .overlay{
    background-color: #0f2f44;
    position: absolute;
    transform: scale(0);
    height: 207px;
    width:368px ;
    text-align: center;
}
.web_design:hover .overlay{
    transform: scale(1);
    transition: .5s;
}
.web_design:hover .overlay h3{
    color: #fff;
    padding-top: 20px;
}
.web_design:hover .overlay img{
    background-color: #ffc712;
    margin-top: 30px;
    transform: translate(150px);
}
.web_design .overlay i{
    border-radius: 50%;
    background-color: #ffc712;
    padding: 12px;
    margin-top: 60px;
}
.web_design_img{
    width: 22%;
    background-color: #e9e9e9;
    float: left;
    padding: 78px 8px;
}

.web_design_text{
   width: 78%;
   background-color: #eeeeee;
   float: right;
   padding: 25px 20px;
}
.web_design_text h3{
   font-size: 20px;
   font-weight: 500;
   font-family:'Ubuntu', sans-serif; 
}
.web_design_text p{
   padding-top: 15px;
}

.service_content .video_editing{
    width: 100%;
    position: relative;
}
.video_editing .overlay{
    background-color: #0f2f44;
    position: absolute;
    transform: scale(0);
    height: 207px;
    width:368px ;
    text-align: center;
}
.video_editing:hover .overlay{
    transform: scale(1);
    transition: .5s;
}
.video_editing:hover .overlay h3{
    color: #fff;
    padding-top: 20px;
}
.video_editing:hover .overlay img{
    background-color: #ffc712;
    margin-top: 30px;
    transform: translate(150px);
}
.video_editing .overlay i{
    border-radius: 50%;
    background-color: #ffc712;
    padding: 12px;
    margin-top: 45px;
}
.video_editing_img{
    width: 22%;
    background-color: #e9e9e9;
    float: left;
    padding: 71px 9px;
}

.video_editing_text{
   width: 78%;
   background-color: #eeeeee;
   float: right;
   padding: 25px 20px;
}
.video_editing_text h3{
   font-size: 20px;
   font-weight: 500;
   font-family:'Ubuntu', sans-serif; 
}
.video_editing_text p{
   padding-top: 15px;
}
/*portfolio part css*/
#portfolio{
    margin: 60px 0;
}
#portfolio .section_header{
    text-align: center;
    margin-bottom: 18px;
}
.portfolio_content_right,
.portfolio_content_left{
    margin-top: 30px;
    position: relative;
}
.portfolio_content_center{
    position: relative;
}
.portfolio_content_center .portfolio_overlay{
    margin-top: 372px;
    width: 100%;
}
.portfolio_content:hover .portfolio_overlay{
    transform: scale(1);
    transition: .5s;
}
.portfolio_overlay{
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    height: 77px;
    width: 350px;
    margin-top: 350px;
    transform: scale(0);
}
.portfolio_overlay h3{
    color: #0f2f44;
    text-align: center;
    padding-top: 26px;
}
#portfolio .button{
    align-items: center;
}
.button a{
    background-color: #ffc712;
    border-radius: 12px;
}
/*testimonial part css*/
#testimonial{
    background-color: #f5f5f5;
    padding: 60px 0;
}
#testimonial .section_header{
    text-align: center;
    padding-bottom: 50px;
}
.testimonial_content{
    width: 46%;
    background-color: #e9e9e9;
    margin: 0 20px;
}
.testimonial_content_left{
    width: 100%;
}
.testimonial_content_left_img{
    width:40%;
    float: left;
}
.testimonial_content_left_img img{
    height: 280px;
    width: 100%;
}
.testimonial_content_left_text{
    width:60%;
    float: right;
    padding: 30px 20px;
}
.testimonial_content_left_text h4{
    padding-top: 25px;
}
.testimonial_content_right{
    width: 100%;
}
.testimonial_content_right_img{
    width:40%;
    float: left;
}
.testimonial_content_right_img img{
    width: 100%;
    height: 280px;
}
.testimonial_content_right_text{
    width:60%;
    float: right;
    padding: 25px 20px;
}
.testimonial_content_right_text h4{
    padding-top: 25px;
}
/*latest blog css*/
#latest_blog{
    padding: 60px 0;
}
#latest_blog .section_header{
    text-align: center;
    padding-bottom: 60px;
}
.blog_content{
    width: 30%;
    background-color: #f5f5f5;
    margin-right: 35px;
    padding: 20px;
}
.blog_content:hover .blog_content_footprint_text a,
.blog_content:hover .blog_content_footprint_text h6,
.blog_content:hover .blog_content_things_text a,
.blog_content:hover .blog_content_things_text h6,
.blog_content:hover .blog_content_tips_text a,
.blog_content:hover .blog_content_tips_text h6{
    color: #fff;
}
.blog_content:hover{
    background-color: #0f2f44;
    color: #fff;
    transition: .5s;
}
.blog_content_things{
    width: 100%;
}
.blog_content_things_img{
    width: 100%;
}
.blog_content h6{
    color: #353535;
}
.blog_content a{
    color: #353535;
}
.blog_content h4{
    padding-bottom: 14px;
}
.blog_content_tips{
    width: 100%;
}
.blog_content_tips_img{
    width: 100%;
}
.blog_content_footprint{
    width: 100%;
}
.blog_content_footprint_img{
    width: 100%;
}
.button{
    text-align: center;
    margin-top: 60px;
}
.button a{
    background-color: #ffc712;
    border-radius: 12px;
}
/*footer part css*/
#main_footer{
    background-color: #f5f5f5;
    box-shadow: 0 0 15px #b5b8b9;
    padding-top: 90px;
}
#main_footer h3{
    color: #353535;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 40px;
}
.footer_logo{
    width:25%
}
.footer_logo a{
    color: #353535;
}
.footer_logo p{
    color: #777777;
    padding: 30px 0;
}
.footer_logo i{
    border-radius: 50%;
    border: 1px solid #0f2f44;
    padding: 10px;
    color: #0f2f44;
    margin: 0 5px 60px 5px;
    transition: .5s;
}
.footer_logo i:hover{
    background-color: #0f2f44;
    color: #fff;
}
.footer_contact{
    width: 25%;
    padding-left: 25px;
}
.footer_contact h3{
    color: #353535;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 40px;
}
.footer_icon{
    width: 15%;
}
.footer_icon i{
    padding-top: 10px;
    text-align: center;
    color: #777777;
}
.footer_info {
    width: 85%;
}
.footer_info p{
    color: #777777;
    line-height: 26px;
    padding-bottom:20px;
}
.footer_important_links{
    width: 15%;
    padding-left: 25px;
}
.important_link_content a{
    color: #777777;
    line-height: 45px;
    transition: .5s;
}
.important_link_content a:hover{
    color: #0f2f44;
    text-align: center;
}
.footer_filckr{
    width: 35%;
    padding-left: 25px;
}
.filckr_content{
    margin-right: 15px;
}
.filckr_content_img{
    margin-bottom: 15px;
}
/*bottom fotter css*/
.bottom_footer_content p{
    color: #777777;
    text-align: center;
    padding: 20px 0;
}
.bottom_footer_content a{
    color: #ffc712;
}
.bottom_footer_content p:hover{
    color: #ffc712;
}
.bottom_footer_content a:hover{
    color: #777777;
}
.back_top{
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 30px;
    border-radius: 50%;
    background-color: #ffc712;
    color: #fff;
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: center;
    cursor: pointer;
}
